*{
    background-color: rgb(29, 29, 29);
}
h1{
    text-align: center;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
p{
    color: white;
    font-family:'Times New Roman', Times, serif;
    font-size: 15px;
    text-align:left;
}